@media only screen and (min-width: 769px){
    td{
        text-align: center;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
        display: inline-block;
        padding: 1%;
        width: 17%;
        list-style: none;
        
    }
    .tabbar{
        border: 1px solid white;
        width: 100%;
        text-align: center;
    }

    .search{
        text-align: left;
        width: 80%;
    }

    .tabs a{
        text-decoration: none;
        color: rgb(255, 0, 0);
        font-size: larger;
        text-align: center;
    }

    body{
        background-color: black;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-right: 5%;
        margin-left: 5%;
    }


    div.previous h2{
        color:white;
        font-size: larger;
        text-decoration: none;
    }

    div.previous ul{
        color:white;
        text-decoration:none;
    }

    div.top-bar h1{
        color:white;
        text-decoration: none;
    }
}
@media only screen and (min-width: 481px) and (max-width:768px){
    td{
        border: 2px solid rgb(255, 255, 255);
        text-align: center;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
        display: block;
        padding: 1%;
        width: 80%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    
    .tabbar{
        margin-left: 15%;
        width: 70%;
    }
    
    .search{
        text-align: left;
        width: 80%;
    }
    
    .tabs a{
        text-decoration: none;
        color: rgb(255, 0, 0);
        font-size: medium;
    }
    
    body{
        background-color: black;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-right: 5%;
        margin-left: 5%;
    }
    
    div.previous h2{
        color:white;
        font-size: larger;
        text-decoration: none;
    }
    
    div.previous ul{
        color:white;
        text-decoration:none;
    }
    
    div.top-bar h1{
        color:white;
        text-decoration: none;
    }
}

@media only screen and (max-width:480px){
    td{
        border: 2px solid rgb(255, 255, 255);
        text-align: center;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
        display: block;
        padding: 1%;
        width: 80%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .tabbar{
        width: 70%;
        margin-left: 20%;
    }
    
    .search{
        width: 80%;
        text-align: left;
    }
    
    .tabs a{
        text-decoration: none;
        color: rgb(255, 0, 0);
        font-size: medium;
    }
    
    
    body{
        background-color: black;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-right: 5%;
        margin-left: 5%;
    }
    
    div.previous h2{
        color:white;
        font-size: larger;
        text-decoration: none;
    }
    
    div.previous ul{
        color:white;
        text-decoration:none;
    }
    
    div.top-bar h1{
        color:white;
        text-decoration: none;
    }
}