body{
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-right: 5%;
    margin-left: 5%;
}

li{
    border-top: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
    text-align: center;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    padding: 1%;
    width: 17%;
    list-style: none;
    
}

ul.tabbar{
    text-align: center;
}

li.search{
    color: rgb(255, 0, 0);
    font-size: larger;
    text-decoration: none;
}

li.tabs a{
    text-decoration: none;
    color: rgb(255, 0, 0);
    font-size: larger;
}

li.genre{
    border-left: 2px solid rgb(255, 255, 255);
    border-right: 2px solid rgb(255, 255, 255);
    margin-left: 5%;
    margin-right: 5%;
    width: 20%; 
    margin-top: 2%;
    text-decoration: none;
}

li.genre a{
    text-decoration: none;
    color: white;
}