body{
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-right: 5%;
    margin-left: 5%;
}

li{
    color:white;
    font-size: 200%;
    width: 100%;
}