@media only screen and (min-width: 769px){
    td{
        text-align: center;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
        display: inline-block;
        padding: 1%;
        width: 17%;
        list-style: none;

    }
    .tabbar{
        border: 1px solid white;
        width: 100%;
        text-align: center;
    }

    .search{
        text-align: left;
        width: 80%;
    }

    .tabs a{
        text-decoration: none;
        color: rgb(255, 0, 0);
        font-size: larger;
        text-align: center;
    }

    h2, p, h3{
        color:white;
        width: 100%;
    }

    div img {
        width: 100%;
        height: 100%;
        margin-left: 15%;
    }
    div.poster{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
    }
    div.moviename{
        font-size: large;
        margin-left: 52%;
    }

    div.suggest a{
        text-decoration: none;
        color: white;
        margin-left: 1%;
        font-size: 125%;
    }

    body{
        background-color: black;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-right: 5%;
        margin-left: 5%;
    }
}

@media only screen and (min-width: 481px) and (max-width:768px){
    td{
        border: 2px solid rgb(255, 255, 255);
        text-align: center;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
        display: block;
        padding: 1%;
        width: 80%;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .tabbar{
        margin-left: 20%;
        width: 70%;
    }

    .search{
        text-align: left;
        width: 80%;
    }

    .tabs a{
        text-decoration: none;
        color: rgb(255, 0, 0);
        font-size: medium;
    }

    body{
        background-color: black;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-right: 5%;
        margin-left: 5%;
    }

    h2, p, h3{
        color:white;
        width: 100%;
    }

    div img {
        width: 100%;
        height: 100%;
        margin-left: 15%;
    }
    div.poster{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 35%;
    }
    div.moviename{
        font-size: large;
        margin-left: 52%;
    }

    div.suggest a{
        text-decoration: none;
        color: white;
        margin-left: 1%;
        font-size: 125%;
    }
}

@media only screen and (max-width:480px){
    td{
        border: 2px solid rgb(255, 255, 255);
        text-align: center;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
        display: block;
        padding: 1%;
        width: 80%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .tabbar{
        width: 70%;
        margin-left: 20%;
    }

    .search{
        width: 80%;
        text-align: left;
    }

    .tabs a{
        text-decoration: none;
        color: rgb(255, 0, 0);
        font-size: medium;
    }
    body{
        background-color: black;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-right: 5%;
    }

    h2, p, h3{
        color:white;
        width: 100%;
    }
    div img {
        width: 100%;
        height: 100%;
        margin-left: 15%;
    }
    div.poster{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    div.moviename{
        font-size: large;
        margin-left: 50%;
    }

    div.suggest a{
        text-decoration: none;
        color: white;
        margin-left: 1%;
        font-size: 125%;
    }
    a {
    text-decoration: none;
  }

  nav {
    font-family: monospace;
  }

  ul {
    background: darkorange;
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

  li {
    color: #fff;
    background: darkorange;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
  }

  li a {
    color: #fff;
  }

  li:hover {
    background: red;
    cursor: pointer;
  }

  .dropdown {
    background: orange;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
  }

  .dropdown:hover {
    visibility: visible;
    opacity: 1;
    display: block;
  }

  ul li ul li {
    clear: both;
    width: 100%;
  }
}
