dt.gallery {
    margin: 10px;
    float: left;
    width: 17%;
    border: 10px solid rgb(255, 255, 255);
}

dt.gallery img {
    width: 100%;
    height: 400px;
  }

dt.gallery:hover{
    border: 10px solid rgb(88, 88, 87)
}

p {
    height: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

a{
    text-decoration: none;
}